.appContainer {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.map {
  height:600px;
  width:100%;
}

.mapAndStation {
  display: flex;
}

.stationContainer {
  width: 200px;
  margin-right: 5px;
}

.mapContainer {
  flex-grow: 4;
}

.stationImage {
  width:200px;
}
